.quicklinks {
	
	.wcp-columns {
		
		.wcp-column {
			
			display: grid;
			   grid-template-columns: repeat(1, 1fr);
			   gap: 10px;
			   gap: 40px 40px; 
			   
			   width:250px;
			   margin:auto;
			   
			   h1 {
				   color:$pmsred;
				   font-family: "Bookman Old Style";
				   font-weight: 300;
				   font-style: normal;
				   font-size:36px;
				   text-align:center;
			   }
			   
			   a {
				   background-size:cover;
					  background-repeat:no-repeat;
					  background-position:center center;
				   text-decoration:none;
				   		.caption {
				   					height:200px;
				   					display: flex;
				   					flex-direction: column;
				   					flex-wrap: nowrap;
				   					justify-content: flex-start;
				   					align-content: space-between;
				   					align-items: flex-start;
				   					width:100%;
									  
									   background-color:rgba(35,31,32,0.5);
				   					
				   						h3  {
						   					width:100%;
						   					color:#FFF;
						   					text-align:left;
						   					margin:10px 10px 10px 10px;
											   font-family: montserrat, sans-serif;
											   font-weight: 400;
											   font-style: normal;
											   text-transform:capitalize;
					   					}
					   					
					   					span {
											   width:100%;
											   text-align:right;
						   					margin:100px 0px 0px;
											   padding:10px;
						   					color:#FFF;
						   					text-decoration:none;
											   font-family: montserrat, sans-serif;
											   font-weight: 200;
											   font-style: normal;
						   					
						   					&:hover {
							   					color:rgba(255,255,255,0.9);
						   					}
					   					}
										 
									&:hover {
										background-color:rgba(197,32,38,0.8);
										
										
											h3 {
													   color:rgba(255,255,255,1);
											}
											span {
													   color:rgba(255,255,255,1);
											}
								
									}	 
										 
			   				}
		   }
			   
			   @media only screen and (min-width:670px) {
				   
				   h1 {
					   margin-bottom:160px;
				   }
				   
				   width:540px;
				   grid-template-columns: repeat(2, 250px);
			   }
			   
			   @media only screen and (min-width:1100px) {
				   width:830px;
				   grid-template-columns: repeat(3, 250px);
			   }
			
			
		}
		
	}
	
	
}