/*

Montserrat Regular

font-family: montserrat, sans-serif;
font-weight: 400;
font-style: normal;


Montserrat Italic

font-family: montserrat, sans-serif;
font-weight: 400;
font-style: italic;


Montserrat Bold

font-family: montserrat, sans-serif;
font-weight: 700;
font-style: normal;

*/

@font-face {
	font-family: 'Bookman Old Style';
	src: url('/assets/fonts/BookmanOldStyle.woff2') format('woff2'),
		url('/assets/fonts/BookmanOldStyle.woff') format('woff'),
		url('/assets/fonts/BookmanOldStyle.ttf') format('truetype'),
		url('/assets/fonts/BookmanOldStyle.svg#BookmanOldStyle') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

